    <section class="page-header bg-danger page-header-xs">
        <div class="container">

            <h1>Commercial and Corporate Building Service </h1>
        </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
        <div class="container">

            <!-- POST ITEM -->
            <div class="blog-post-item">

                <!-- OWL SLIDER -->
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 7000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                    <div>
                        <%= image_tag "AdobeStock_170843598.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "AdobeStock_33298664.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "AdobeStock_33975620.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "AdobeStock_3294993.jpeg", class: 'img-fluid' %>
                    </div>
                </div>
                <!-- /OWL SLIDER -->

                <h2><a class="active"> Our Corporate and Commercial Building Elevators Top Picks</a></h2>


                <p>The Rocket Elevators Company offers innovative and eco-efficient passenger and goods elevators for all types of buildings, from low and mid-rise structures to the world's tallest skyscrapers. We provide solutions which ease the flow of
                    people and goods in new buildings, as well as those where the elevators need modernizing and existing buildings without elevators.</p>


            </div>
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <div class="blog-post-item">

                <!-- IMAGE -->
                <figure class="mb-20">
                    <%= image_tag "AdobeStock_162479912.jpeg", class: 'img-fluid'%>
                </figure>

                <h2><a class="active">Future is Here With Our New Model #COR-X </a></h2>

                <p> The fully integrated method enables a completely personalized rider experience, transporting riders directly to their final destination, with no other delays. Primarily for condo towers, this system would replace all hallways with elevator
                    shafts and deliver residents to their suites. While this luxurious option would be very costly, in the future, it has the potential to reshape how conveyance within condos operates. Not only will this system change how people move,
                    but will reshape condo living.
                </p>

            </div>
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <!-- <div class="blog-post-item">

                <-- VIDEO ->
                <div class="mb-20">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
                    </div>
                </div>

                <h2><a href="#">BLOG VIDEO POST</a></h2>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many variations of passages
                    of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>


            </div> -->
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <div class="blog-post-item">
                <figure class="mb-20">
                    <%= image_tag "Houskeeping1.jpeg", class: 'img-fluid'%>
                </figure>

                <h2><a class="active"> Elevator Cleaning Service is Free when Buying 3 or More Elevators </a></h2>

                <p> Our elevator maintenance solutions are designed to avoid the need for emergency elevator cleaning services. We offer various elevator maintenance program options customized for your budget and property. When in need of elevator maintenance,
                    property managers and building owners are confident that The Rocket Elevators will assist in designing a customized maintenance program to suit their needs. </p>


            </div>
            <!-- /POST ITEM -->




        </div>
    </section>
    <!-- / -->

