<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">

    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
        <ul class="hide">

            <!-- SLIDE 1 -->
            <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="Our Slogan" data-delay="7000">
                <!-- MAIN IMAGE -->
                <%= image_tag "AdobeStock_122227340.jpeg" %>

                <div class="overlay dark-4">
                    <!-- dark overlay [0 to 9 opacity] -->
                </div>

                <div class="tp-caption white_big skewfromleft tp-resizeme" data-x="120" data-y="100" data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Ride a Rocket. Next stop - Moon!
                </div>

                <div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="140" data-y="195" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                    data-endspeed="600" style="z-index: 3; font-size:20px; color: ghostwhite; font-weight:400; text-shadow:none;">
                    If you dream of an elevator that will take you from point A to point B, <br /> our team is the best in this field.<br/> Let us help you choose the right service plan today.
                </div>

                <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="380" data-y="300" data-speed="300" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                    style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="tp-caption sfb tp-resizeme" data-x="580" data-y="300" data-speed="500" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a class="btn btn-default btn-lg" target="_blank" rel="noopener noreferrer" href="/quotes/new">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </li>

            <!-- SLIDE  2-->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Residential Service" data-delay="7000">
                <!-- MAIN IMAGE -->
                <%= image_tag "AdobeStock_73868131.jpeg" %>

                <div class="overlay dark-4">
                    <!-- dark overlay [0 to 9 opacity] -->
                </div>

                <div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="10" data-y="100" data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Residential Building Service
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme" data-x="10" data-y="200" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 3; font-size:20px; color: blanchedalmond; font-weight:400; text-shadow:none;">
                    By using pneumatic technology to generate lift, our residential elevators smoothly move between floors <br/> while requiring much less space and energy than traditional residential elevators.<br/> Keep your tenants safe and
                    happy with reliable elevators and expert maintenance.
                </div>

                <div class="tp-caption sfb tp-resizeme" data-x="15" data-y="310" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a class="btn btn-default btn-lg" href="residential.html">MORE DETAILS &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </li>
            <!-- SLIDE 3 -->
            <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="commercial service" data-delay="7000">
                <!-- MAIN IMAGE -->
                <%= image_tag "AdobeStock_179073967.jpeg" %>

                <div class="overlay dark-4">
                    <!-- dark overlay [0 to 9 opacity] -->
                </div>

                <div class="tp-caption white_big skewfromleft tp-resizeme" data-x="-20" data-y="100" data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                    Corporate Building <br/> Service
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme" data-x="1" data-y="220" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
                    style="z-index: 3; font-size:20px; color: lightcyan; font-weight:400; text-shadow:none;">
                    No matter the building type or how many systems you plan to use, our sustainable products enhance user safety, <br/> maximize efficiency, make optimal use of available space and deliver superior ride comfort.
                </div>

                <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="5" data-y="350" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                    style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a class="btn btn-default btn-lg" href="commercial.html">MORE DETAILS &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </li>

        </ul>

    </div>
</div>
<!-- /REVOLUTION SLIDER -->

<hr class="m-0" />
<!-- 1px line separator -->

<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
    <span class="font-lato fs-30">
            Did Rocket Elevators convince you? 
            <strong>Contact us &raquo;</strong>
        </span>
</a>
<!-- /BUTTON CALLOUT -->

<!-- Services -->
<section id="services">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <%= image_tag "Awards1__600x300.jpeg", class: 'img-fluid' %>
                <h3 class="mt-10">Can't stop winning!</h3>
                <p>Rocket Elevators has participated in many major projects and won numerous awards. Check Our Portfolio section below for more information.</p>
                <a href="#portfolio" class="btn btn-default">OUR AWARDS</a>
            </div>

            <div class="col-sm-4">
                <%= image_tag "residential_600x300.jpeg", class: 'img-fluid' %>
                <h3 class="mt-10">Residential Building Service</h3>
                <p>For enhanced mobility, convenience and safety, adding an elevator to your residential building makes perfect sense.</p>
                <a href="residential.html" class="btn btn-default">MORE DETAILS</a>
            </div>

            <div class="col-sm-4">
                <%= image_tag "corporate_600x300.jpeg", class: 'img-fluid' %>
                <h3 class="mt-10">Corporate Building Service</h3>
                <p>As a renowned quality provider, we offer a wide variety of corporate elevator systems, individually tailored to your architectural design.</p>
                <a href="commercial.html" class="btn btn-default">MORE DETAILS</a>
            </div>

        </div>

    </div>
</section>
<!-- /Services -->

<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
    <div class="overlay dark-5">
        <!-- dark overlay [1 to 9 opacity] -->
    </div>

    <div class="container">

        <div class="text-center">
            <h2 class="fs-40 fw-300">Making lives easier since 1976</h2>
            <a class="btn btn-default btn-lg" target="_blank" rel="noopener noreferrer" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> &nbsp; &nbsp;
            <a class="btn btn-primary btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>
<!-- /Parallax -->

<!-- PORTFOLIO -->
<section id="portfolio">
    <div class="container">

        <div class="heading-title heading-dotted text-center">
            <h2>OUR PORTFOLIO</h2>
        </div>

        <div class="text-center">
            <ul class="nav nav-pills mix-filter mb-60">
                <li data-filter="all" class="filter active"><a href="#">All</a></li>
                <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
                <li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
                <li data-filter="more" class="filter"><a href="#">More</a></li>
            </ul>
        </div>

    </div>

    <div id="portfolio" class="portfolio-nogutter">

        <div class="row mix-grid">

            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 1-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/home-elevators21231_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus fs-20"></span>
                            </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevators21231_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #RE001 / 1-2 Passangers</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Modern</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item 1-->


            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 2-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="portfolio/home-elevators2112_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevators2112_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #RE002 / 1-4 Passangers</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Modern</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 3-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="portfolio/home-elevators22_1_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevators22_1_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #RE033 / 360° Visibility</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Modern</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix corporate">
                <!-- item  4-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="portfolio/corp-elevators3321_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>
                        </span>
                        </span>

                        <%= image_tag "portfolio/corp-elevators3321_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #COR011 / 1-12 Passangers</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Contemporary</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix corporate">
                <!-- item 5-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="portfolio/corp_53477661_1_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/corp_53477661_1_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #COR-X / 10 meters per second</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Industrial</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 6-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                                <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/home-elevator2_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                                <span class="fa fa-plus fs-20"></span>
                            </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevator2_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #RE024 / 1-6 Passangers / Wheelchair accessible</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Residential</a></li>
                            <li><a href="#">Traditional</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix corporate">
                <!-- item 7-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/corp-elevators212312_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                             <span class="fa fa-plus fs-20"></span>
                            </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/corp-elevators212312_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #COR-45 / 1-8 Passangers</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Transitional</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix corporate">
                <!-- item 8-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/corp-elevators12_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/corp-elevators12_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>Model #COR-Z3 / 10 meters per second</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Industrial</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix more">
                <!-- item 9-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/awards1_1_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/awards1_1_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc">
                        <h3>The Elevork Awards 2021 / 1st Place</h3>
                        <ul class="list-inline categories m-0">
                            <li><a href="#">Awards</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 10-->

                <div class="item-box">
                    <figure>
                        <span class="item-hover">
                                    <span class="overlay dark-5"></span>
                        <span class="inner">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox" href="portfolio/home-elevators11_600x300.jpeg" data-plugin-options='{"type":"image"}'>
                            <span class="fa fa-plus fs-20"></span>
                        </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevators11_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc ">
                        <h3>Model #RE066 / Wheelchair accessible</h3>
                        <ul class="list-inline categories m-0 ">
                            <li><a href="# ">Residential</a></li>
                            <li><a href="# ">Transitional</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix more">
                <!-- item 11-->

                <div class="item-box ">
                    <figure>
                        <span class="item-hover ">
                                    <span class="overlay dark-5 "></span>
                        <span class="inner ">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox " href="portfolio/awards321_600x300.jpeg" data-plugin-options='{"type ":"image "}'>
                                 <span class="fa fa-plus fs-20 "></span>
                            </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/awards321_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc ">
                        <h3>E World Session 2022 / Best Maintenance Team </h3>
                        <ul class="list-inline categories m-0 ">
                            <li><a href="# ">Awards</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->


            <div class="col-md-3 col-sm-3 mix residential">
                <!-- item 12-->

                <div class="item-box ">
                    <figure>
                        <span class="item-hover ">
                                    <span class="overlay dark-5 "></span>
                        <span class="inner ">

                            <!-- lightbox -->
                            <a class="ico-rounded lightbox " href="portfolio/home-elevators3_600x300.jpeg" data-plugin-options='{"type ":"image "}'>
                                <span class="fa fa-plus fs-20 "></span>
                            </a>

                        </span>
                        </span>

                        <%= image_tag "portfolio/home-elevators3_600x300.jpeg", class: "img-fluid", width:"600", height:"399" %>
                    </figure>

                    <div class="item-box-desc ">
                        <h3>Model #RE034 / 1-6 Passangers / Wheelchair accessible</h3>
                        <ul class="list-inline categories m-0 ">
                            <li><a href="# ">Residential</a></li>
                            <li><a href="# ">Traditional</a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- /item -->
        </div>


    </div>
</section>
<!-- /PORTFOLIO -->

 <!-- Testimonials -->
<section class="section-xs dark">
    <div class="container ">

        <div class="owl-carousel text-center owl-testimonial m-0 " data-plugin-options='{"singleItem ": true, "autoPlay ": 3500, "navigation ": false, "pagination ": true, "transitionStyle ":"fade "}'>

            <div id="CEO" class="testimonial">
                <figure>
                    <%=  image_tag "CEO.jpeg", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">I am the CEO of Rocket Elevators Company since 2013. <br/> I am a industrial architect, and elevator systems designer for the last 10 years.</p>
                    <cite>
                        Timothy Wever
                        <span>The Rocket Elevators CEO</span>
                    </cite>
                </div>
            </div>
            <div id="employee" class="testimonial">
                <figure>
                    <%= image_tag "employee-of-the-month.jpeg", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">“I was not looking for a job, I was looking for a mission.”</p>
                    <cite>
                        Maksym Kryvoshlyk
                        <span>Employee of the Month</span>
                    </cite>
                </div>
            </div>
             <div id="employee2" class="testimonial">
                <figure>
                    <%= image_tag "elevator-Mechanic.jpeg", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">“After working for many elevator companies,
                    <br> I can truly testify that Rocket Elevators is on a whole different level."
                    </p>
                    <cite>
                        Sasha Marinskiy
                        <span>Lead Elevator Mechanic</span>
                    </cite>
                </div>
            </div>
             <div id="employee" class="testimonial">
                <figure>
                    <%= image_tag "rocket-Elevator-Chef.jpg", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">“Elevators for Elevation”</p>
                    <cite>
                        Cole Brazeal
                        <span>Rocket Elevators Chef</span>
                    </cite>
                </div>
            </div>
             <div id="employee" class="testimonial">
                <figure>
                    <%= image_tag "rocket-Militaries-General.jpg", class:"rounded" %>
                </figure>
                <div class="testimonial-content p-0">
                    <p class="lead">“It is an honor to work for such a forward thinking and high integrity team such as Rocket Elevators.”</p>
                    <cite>
                        Ryan Banas
                        <span>General of Rocket Militaries</span>
                    </cite>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /Testimonials -->

<!-- News -->
<section id="news">
    <div class="container">

        <div class="heading-title heading-dotted text-center">
            <h2>Recent News</h2>
        </div>

        <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>
            <div class="img-hover">
                <!--news 1-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                    <%= image_tag "news1.jpeg", class: "img-fluid" %>
                </a>

                <h4 class="text-left mt-20"><a href="https://www.elevators.com/">Big Step Forward for Detroit Elevators </a></h4>
                <p class="text-left">New Renderings of Anticipated Detroit Tower Development. Time will tell what's next.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 31th Mar 2022
                    </li>

                </ul>
            </div>
            <div class="img-hover">
                <!--news 2-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                     <%= image_tag "news2.jpeg", class: "img-fluid" %>
                </a>

                <h4 class="text-left mt-20"><a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">Maintenance Guy tapped to Lead Urban Elevators L.A. Operation</a></h4>
                <p class="text-left">Urban Elevator Service Co. President Edward Pleban recently announced that Eddie The Maintenance Guy has been hired as vice president/principal in charge…</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 29th Feb 2022
                    </li>

                </ul>
            </div>
            <div class="img-hover">
                <!--news 3-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                    <%= image_tag "news3.jpeg", class: "img-fluid" %>
                </a>

                <h4 class="text-left mt-20"><a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">Push Buttons of this elevator are amazing! </a></h4>
                <p class="text-left">From the most simple incandescent backlit button to our almost bulletproof Bruiser design, every push button device we manufacture is built to the highest standards of quality to meet or exceed ADA and ANSI A17.1 compliance</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 12th Jan 2022
                    </li>

                </ul>
            </div>
            <div class="img-hover">
                <!--news 4-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                    <%= image_tag "news4.jpeg", class: "img-fluid" %>
                </a>

                <h4 class="text-left mt-20"><a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">Extension Granted for Maryland Boardwalk Glass Elevator</a></h4>
                <p class="text-left">The elevator is set to take away 8 ft of that space, reducing the total setback to 12 ft. The plans are set to move to the Planning Commission for further approval.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 29th Dec 2021
                    </li>

                </ul>
            </div>
            <div class="img-hover">
                <!--news 5-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                    <%= image_tag "news5.jpeg", class: "img-fluid" %>
                </a>
                <h4 class="text-left mt-20"><a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">SpaceX Launches 59 Small Elevators, To The Moon And Back</a></h4>
                <p class="text-left">Such extensive reuse is a key priority for SpaceX, which views it as the key breakthrough that humanity will need to colonize Mars with help of Elevators. .</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 20th Dec 2021
                    </li>

                </ul>
            </div>
            <div class="img-hover">
                <!--news 6-->
                <a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">
                    <%= image_tag "news6.jpeg", class: "img-fluid" %>
                </a>
                <h4 class="text-left mt-20"><a target="_blank" rel="noopener noreferrer" href="https://www.elevators.com/">Fancy Design Of Industrial Elevators Is Around The Corner</a></h4>
                <p class="text-left">National Elevator And Escalator Safety Awareness Week seems to sneak up on us every year. But already this year we will notice a big change in design of some industrial elevators.</p>
                <ul class="text-left fs-12 list-inline list-separator">
                    <li>
                        <i class="fa fa-calendar"></i> 19th Nov 2021
                    </li>

                </ul>
            </div>

        </div>

    </div>
</section>
<!-- /News -->

<!-- Clients -->
<section id="clients" class="alternate ">
    <div class="container ">

        <div class="heading-title heading-dotted text-center ">
            <h2>Our Clients</h2>
        </div>

        <ul class="row clients-dotted list-inline ">
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                    <%= image_tag "brands/4.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                 <a>
                    <%= image_tag "brands/6.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                    <%= image_tag "brands/1.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                    <%= image_tag "brands/2.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 "> 
                <a>
                    <%= image_tag "brands/partner1.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/partners22.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/partners33.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/partners411.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/8.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/5.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/3.png", class: "img-fluid" %>
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6 ">
                <a>
                     <%= image_tag "brands/10.png", class: "img-fluid" %>
                </a>
            </li>
        </ul>

    </div>
</section>
<!-- /Clients -->

<!--contact-->
 <%= form_with scope: :lead, url: lead_path, local: true do |form| %>
<section id="contact">
    <div class="container">

        <header class="text-center mb-60">
            <h2>Contact Us</h2>
            <p class="lead font-lato">Leave us a message or visit our office</p>
            <hr />
        </header>


        <div class="row">

            <!-- FORM -->
           
            <div class="col-md-8 col-sm-8">

                <h3>You can leave us any message by filling up <br/> this form.</h3>

                <!-- Alert Success -->
                <div id="alert_success" class="alert alert-success mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Thank You!</strong> Your message successfully sent!
                </div>
                <!-- /Alert Success -->


                <!-- Alert Failed -->
                <div id="alert_failed" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>[SMTP] Error!</strong> Internal server error!
                </div>
                <!-- /Alert Failed -->

                <!-- Alert Mandatory -->
                <div id="alert_mandatory" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                </div>
                <!-- /Alert Mandatory -->

                
                <form enctype="multipart/form-data">
                    <fieldset>
                        <input type="hidden" name="action" value="contact_send" />

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Full Name *</label>
                                <input required type="text" value="" class="form-control" name="name" id="name" style="font-size:100%">
                            </div>
                            <div class="col-md-8">
                                <label for="email">E-mail Address *</label>
                                <input required type="email" value="" class="form-control" name="email" id="email" style="font-size:100%">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="phone">Phone</label>
                                <input type="text" value="" class="form-control" name="phone" id="phone" style="font-size:100%">
                            </div>
                            <div class="col-md-8">
                                <label for="company">Company Name</label>
                                <input type="text" value="" class="form-control" name="company" id="company_name" style="font-size:100%">
                            </div>
                        </div>



                        <div class="row">


                            <div class="col-md-4">
                                <label for="project_name">Project Name *</label>
                                <input required type="text" value="" class="form-control" name="project_name" id="project_name" style="font-size:100%">
                            </div>
                            <div class="col-md-8">
                                <label for="project_description">Project Description </label>
                                <input type="text" value="" class="form-control" name="project_description" id="project_description" style="font-size:100%">

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <label for="department">Department</label>
                                <select class="form-control pointer" name="department" id="department" style="font-size:100%">
                                                <option value="">--- Select ---</option>
                                                <option value="Marketing">Marketing</option>
                                                <option value="Webdesign">Engineering</option>
                                                <option value="Architecture">Architecture</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <label for="message">Message *</label>
                                <textarea required maxlength="10000" rows="8" style="font-size:100%" class="form-control" name="message" id="message"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <label for="attachment">File Attachment</label>

                                <!-- custom file upload -->
                                <input class="custom-file-upload" type="file" id="file" name="attachment" id="attachment" data-btn-text="Select a File" />
                                <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <%= form.submit %>
                        </div>
                    </div>

                </form>

            </div>

            <!-- /FORM -->

            <!-- INFO -->
            <div class="col-md-4 col-sm-4">

                <h2>Visit Us</h2>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3530.1961800734716!2d-82.64112168392721!3d27.772928782764815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2e1cc066bc3fb%3A0x630de377c32db551!2sCodeBoxx!5e0!3m2!1sen!2sus!4v1654110517372!5m2!1sen!2sus"
                    width="300" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <hr />

                <p>
                    <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 136 4th St N suite 201, St. Petersburg, FL 33701, United States</span>
                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-555-1234">(418) 555-1234</a></span>
                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
                </p>

            </div>
            <!-- /INFO -->

        </div>

    </div>
</section>
<!-- /CONTACT -->

         <% end %>













