    <section class="page-header bg-danger page-header-xs">
        <div class="container">

            <h1>Residential Building Service </h1>
        </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
        <div class="container">

            <!-- POST ITEM -->
            <div class="blog-post-item">

                <!-- OWL SLIDER -->
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 7000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
                    <div>
                        <%= image_tag "home-elevators11.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "home-elevators3.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "home-elevators21231.jpeg", class: 'img-fluid' %>
                    </div>
                    <div>
                        <%= image_tag "home-elevators3111.jpeg", class: 'img-fluid' %>
                    </div>
                </div>
                <!-- /OWL SLIDER -->

                <h2><a class="active"> Our Residential Building Elevators Top Picks</a></h2>


                <p>A great deal of customization is possible with most home elevators in terms of cab size and style, so rather than look at individual models, this guide focuses on home elevator brands. Each brand included in this list is well regarded
                    in terms of elevator build quality and reliability.</p>


            </div>
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <div class="blog-post-item">

                <!-- IMAGE -->
                <figure class="mb-20">
                    <%= image_tag "AdobeStock_41696502.jpeg", class: 'img-fluid' %>
                </figure>

                <h2><a class="active">Safety is Our Main Priority</a></h2>

                <p> There is a national safety code for elevators developed by the American National Standards Institute (ANSI) and the American Society of Mechanical Engineers (ASME). The current version is ASME ANSI A17.1/CSA B44-2016, and private residential
                    elevators are covered in section 5.3..
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Safety features found in residential elevators include:</strong></li>
                        <li class="list-group-item list-group-item-danger">Automatic gate or door closing</li>
                        <li class="list-group-item list-group-item-warning">Door interlocks that cannot be released while the cab is moving</li>
                        <li class="list-group-item list-group-item-success">Emergency brakes</li>
                        <li class="list-group-item list-group-item-info">Battery backup in case of a power outage</li>
                        <li class="list-group-item list-group-item-success">Alarms and intercoms</li>
                        <li class="list-group-item list-group-item-warning">Lighting and lit control panels</li>
                        <li class="list-group-item list-group-item-danger">Handrails</li>
                    </ul>
                </p>

            </div>
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <!-- <div class="blog-post-item">

                <-- VIDEO ->
                <div class="mb-20">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
                    </div>
                </div>

                <h2><a href="#">BLOG VIDEO POST</a></h2>

                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many variations of passages
                    of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>


            </div> -->
            <!-- /POST ITEM -->


            <!-- POST ITEM -->
            <div class="blog-post-item">
                <figure class="mb-20">
                    <%= image_tag "AdobeStock_78149317.jpeg", class: 'img-fluid' %>
                </figure>

                <h2><a class="active">We will help you to choose a perfect fit </a></h2>

                <p>A modern home elevator can make a huge difference to the lives of those with mobility issues. It's not just about aging; all kinds of health factors can impact the ability to move freely and easily. If stairs have become a barrier, a home
                    elevator can restore accessibility and independence. Modern home elevators come in an enormous variety of designs, and some can be built into surprisingly small spaces. </p>


            </div>
            <!-- /POST ITEM -->




        </div>
    </section>
    <!-- / -->
